doctype html
head
  meta(charset="utf-8")
  title= title
body
  h1 Timestamp Microservice
  p Click on the links below
  a(href="https://gentle-spire-56129.herokuapp.com/December%2015,%202015" target="_blank") https://gentle-spire-56129.herokuapp.com/December%2015,%202015
  br
  a(href="https://gentle-spire-56129.herokuapp.com/1450137600" target="_blank") https://gentle-spire-56129.herokuapp.com/1450137600
